:root {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Circular Std';
}

input[type=text] {
  font-family: 'SF Mono';
}

body {
  margin: 0;
  padding: 0;
  padding-top: 5rem;
}
